.align-vertical {
	vertical-align: middle;
}

.badge-sm {
	font-size: 1rem;
}

.text-beta {
	font-size: 0.8rem;
}

.online {
	color: #2ecc71;
}

@media (min-width: 992px) {
	.hide-navbar {
		display: none;
	}
}

.hide-navbar {
	margin-left: auto;
	margin-right: 1em;
}

.no-wrap {
	white-space: nowrap;
}

.no-click {
	pointer-events: none;
	cursor: default;
}

.btn-messages {
  --bs-btn-color: var(--bs-white);
  --bs-btn-bg: #ff1a77;
  --bs-btn-border-color: #ff1a77;
  --bs-btn-hover-color: var(--bs-white);
  --bs-btn-hover-bg: #ff1a77;
  --bs-btn-hover-border-color: #b30049;
  --bs-btn-focus-shadow-rgb: #ff257e;
  --bs-btn-active-color: var(--bs-white);
  --bs-btn-active-bg: #e6005e;
  --bs-btn-active-border-color: #b30049;
}
