{% extends 'template.html' %}
{% block css %}
	<style>
		.align-vertical {
			vertical-align: middle;
		}

		.badge-sm {
			font-size: 1rem;
		}
	</style>
{% endblock %}
{% block content %}

	<div class="modal fade" id="createShadowBanModal" tabindex="-1" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<form method="POST" id="createShadowBan">
					<div class="modal-header">
						<h1 class="modal-title fs-5">Créer un shadow ban</h1>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body">
						<div class="form-floating mb-3">
							<input type="number" name="offender" class="form-control" id="input-offender" value="1" placeholder="">
							<label for="input-offender">ID Coupable</label>
						</div>
						<div class="form-floating mb-3">
							<input type="number" name="victim" class="form-control" id="input-victim" value="1" placeholder="">
							<label for="input-victim">ID Victime</label>
						</div>
						<div class="form-floating mb-3">
							<input type="text" name="reason" class="form-control" id="input-desc" placeholder="Lorem ipsum...">
							<label for="input-desc">Raison</label>
						</div>
					</div>
					<input type="hidden" name="csrf" value="{{ create_csrf() }}">

					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
						<button type="submit" class="btn btn-primary">Confirmer</button>
					</div>
				</form>
			</div>
		</div>
	</div>

	<div class="modal fade" id="createPiscineModal" tabindex="-1" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<form method="POST" id="createPiscine">
					<div class="modal-header">
						<h1 class="modal-title fs-5">Créer une piscine</h1>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body">
						<div class="form-floating mb-3">
							<input type="number" name="campus" class="form-control" id="input-campus" value="1" placeholder="">
							<label for="input-campus">ID Campus</label>
						</div>
						<div class="form-floating mb-3">
							<input type="text" name="cluster" class="form-control" id="input-desc" placeholder="Lorem ipsum...">
							<label for="input-desc">Cluster</label>
						</div>
					</div>
					<input type="hidden" name="csrf" value="{{ create_csrf() }}">

					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
						<button type="submit" class="btn btn-primary">Confirmer</button>
					</div>
				</form>
			</div>
		</div>
	</div>


	<div class="p-5 mb-3 text-center bg-body-tertiary rounded-3 align-vertical">
		<img class="bi mt-4 mb-3 rounded-circle" src="{{ user.image_medium }}" width="100" height="100" alt="pp">
		<h1 class="text-body-emphasis"> {{ user.login }}
			<span class="badge badge-sm align-vertical bg-danger">{{ user.admin.tag | safe }}</span></h1>
	</div>

	<div class="container mb-2 p-2 shadow rounded bg-body-tertiary">
		<h4>Tag</h4>
		<form method="POST" id="changetag">
			<div class="input-group mb-3">
				<input type="text" name="tag" class="form-control" value='{{ user.admin.tag }}'>
				<input type="hidden" name="csrf" class="form-control" value='{{ create_csrf() }}'>
				<button class="btn btn-outline-secondary" type="submit">Validate</button>
			</div>
		</form>
	</div>

	<div class="container mb-2 p-2 shadow rounded bg-body-tertiary">
		<h4>Shadow bans
			<button class="btn btn-success btn-sm" data-bs-toggle="modal" data-bs-target="#createShadowBanModal">+
			</button>
		</h4>
		<table class="table">
			<thead>
			<tr>
				<th scope="col">Coupable</th>
				<th scope="col">Utilisateur</th>
				<th scope="col">Raison</th>
				<th scope="col">-</th>
			</tr>
			</thead>
			<tbody>
			{% for ban in shadow_bans %}
				<tr>
					<th scope="row">{{ ban.offender_login }}</th>
					<td>{{ ban.victim }}</td>
					<td>{{ ban.reason }}</td>
					<td>
						<button onclick="del_ban({{ ban.ban_id }})" class="btn btn-danger btn-sm">-</button>
					</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>

	<div class="container mb-2 p-2 shadow rounded bg-body-tertiary">
		<h4>Piscines
			<button class="btn btn-success btn-sm" data-bs-toggle="modal" data-bs-target="#createPiscineModal">+
			</button>
		</h4>
		<table class="table">
			<thead>
			<tr>
				<th scope="col">#</th>
				<th scope="col">Campus</th>
				<th scope="col">Cluster</th>
				<th scope="col">-</th>
			</tr>
			</thead>
			<tbody>
			{% for piscine in piscines %}
				<tr>
					<th scope="row">{{ piscine.id }}</th>
					<td>{{ piscine.campus }}</td>
					<td>{{ piscine.cluster }}</td>
					<td>
						<button onclick="del_piscine({{ piscine.id }})" class="btn btn-danger btn-sm">-</button>
					</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>


{% endblock %}

{% block scripts %}
	<script>
		function del_ban(ban_id) {
			fetch(`/admin/shadow_remove/${ban_id}/{{ create_csrf() }}`).then(async response => {
				triggerToast(await response.text(), response.status === 200);
				location.reload()
			}).catch(error => {
				triggerToast(`Une erreur s'est produite (${error.status})`, false);
				console.log(error)
			});
		}

		function del_piscine(piscine_id) {
			fetch(`/admin/piscine_remove/${piscine_id}/{{ create_csrf() }}`).then(async response => {
				triggerToast(await response.text(), response.status === 200);
				location.reload()
			}).catch(error => {
				triggerToast(`Une erreur s'est produite (${error.status})`, false);
				console.log(error)
			});
		}


		document.getElementById('createShadowBan').addEventListener('submit', function (event) {
			event.preventDefault();

			const formData = new FormData(event.target);

			fetch('/admin/shadow_ban', {
				method: 'POST',
				body: formData
			}).then(async response => {
				triggerToast(await response.text(), response.status === 200);
				location.reload();
			}).catch(error => triggerToast(`Une erreur s'est produite (${error.status})`, false));
		});

		document.getElementById('changetag').addEventListener('submit', function (event) {
			event.preventDefault();

			const formData = new FormData(event.target);

			fetch('/admin/change_tag', {
				method: 'POST',
				body: formData
			}).then(async response => {
				triggerToast(await response.text(), response.status === 200);
				location.reload();
			}).catch(error => triggerToast(`Une erreur s'est produite (${error.status})`, false));
		});


		document.getElementById('createPiscine').addEventListener('submit', function (event) {
			event.preventDefault();

			const formData = new FormData(event.target);

			fetch('/admin/piscine_add', {
				method: 'POST',
				body: formData
			}).then(async response => {
				triggerToast(await response.text(), response.status === 200);
				location.reload();
			}).catch(error => triggerToast(`Une erreur s'est produite (${error.status})`, false));
		});

	</script>
{% endblock %}
