{% block content %}

<div class="card m-1 mb-2">
	<div class="card-header"><i class="fa-solid fa-newspaper"></i>
		MISE À JOUR DU 26/08/2023 ({{ date_relative('2023/08/25') }}):
	</div>
	<div class="card-header addition_card"><i class="fa-solid fa-square-plus"></i>
		Addition
	</div>
	<div class="card-body">
		<ul>
			<li class="text-success"><span class="text-white">
				Ajout des clusters de MADE
			</span></li>
		</ul>
	</div>
</div>

	<div class="card m-1 mb-2">
		<div class="card-header"><i class="fa-solid fa-newspaper"></i>
			MISE À JOUR DU 25/07/2023 ({{ date_relative('2023/07/25') }}):
		</div>
		<div class="card-header addition_card"><i class="fa-solid fa-square-plus"></i>
			Addition
		</div>
		<div class="card-body">
			<ul>
				<li class="text-success"><span class="text-white">
					Changement du système de "bio" accessible depuis le modal utilisateur
				</span></li>
				<li class="text-success"><span class="text-white">
					Ajout d'un système de thème
				</span></li>
				<li class="text-success"><span class="text-white">
					Logs des sessions utilisateurs avec la possibilité de révoquer les tokens
				</span></li>
			</ul>
		</div>
		<div class="card-header modification_card"><i class="fa-solid fa-circle-exclamation"></i>
			Modifications
		</div>
		<div class="card-body">
			<ul>
				<li class="text-warning"><span class="text-white">
					Changement temporaire du logo en rose pour la piscine Discovery
				</span></li>
			</ul>
		</div>
	</div>

	<div class="card m-1 mb-2">
		<div class="card-header"><i class="fa-solid fa-newspaper"></i>
			MISE À JOUR DU 24/06/2023 ({{ date_relative('2023/06/24') }}):
		</div>
		<div class="card-header addition_card"><i class="fa-solid fa-square-plus"></i>
			Addition
		</div>
		<div class="card-body">
			<ul>
				<li class="text-success"><span class="text-white">
					Ajout des notifications via Telegram
				</span></li>
				<li class="text-success"><span class="text-white">
					Ajout d'une icône piscine pour les Clusters concernés
				</span></li>
				<li class="text-success"><span class="text-white">
					Désactivation des tags orange pour les clusters piscine
				</span></li>
				<li class="text-success"><span class="text-white">
					Ajout du logo (@kvroooo_)
				</span></li>
			</ul>
		</div>
	</div>

	<div class="card m-1 mb-2">
		<div class="card-header"><i class="fa-solid fa-newspaper"></i>
			MISE À JOUR DU 24/04/2023 ({{ date_relative('2023/04/24') }}):
		</div>
		<div class="card-header addition_card"><i class="fa-solid fa-square-plus"></i>
			Addition
		</div>
		<div class="card-body">
			<ul>
				<li class="text-success"><span class="text-white">Support multi-campus. Si vous souhaitez ajouter votre campus envoyez un DM a neoblacks ou wow000 sur Discord</span>
				</li>
				<li class="text-success"><span class="text-white">Ajout du domaine : <a href="https://friends42.fr/">https://friends42.fr</a></span>
				</li>
			</ul>
		</div>
		<div class="card-header modification_card"><i class="fa-solid fa-circle-exclamation"></i>
			Modifications
		</div>
		<div class="card-body">
			<ul>
				<li class="text-warning">
					<span class="text-white">Correction d'un crash en absence de photo profil</span></li>
				<li class="text-warning"><span class="text-white">La couleur en fonction du nombre de place restante a été modifiée par le pourcentage</span>
				</li>
			</ul>
		</div>
	</div>

	<div class="card m-1 mb-2">
		<div class="card-header"><i class="fa-solid fa-newspaper"></i>
			MISE À JOUR DU 04/04/2023 ({{ date_relative('2023/04/04') }}):
		</div>
		<div class="card-header addition_card"><i class="fa-solid fa-square-plus"></i>
			Addition
		</div>
		<div class="card-body">
			<ul>
				<li class="text-success"><span class="text-white">Ajout de la page "Changelog"</span></li>
			</ul>
		</div>
		<div class="card-header modification_card"><i class="fa-solid fa-circle-exclamation"></i>
			Modification
		</div>
		<div class="card-body">
			<ul>
				<li class="text-warning"><span class="text-white">Correction d'un problème lors de la déconnexion du site</span>
				</li>
			</ul>
		</div>
	</div>

	<div class="card m-1 mb-2">
		<div class="card-header"><i class="fa-solid fa-newspaper"></i>
			MISE À JOUR DU 19/03/2023 ({{ date_relative('2023/03/19') }}):
		</div>
		<div class="card-header addition_card"><i class="fa-solid fa-square-plus"></i>
			Additions
		</div>
		<div class="card-body">
			<ul>
				<li class="text-success"><span class="text-white">Mise en place du système de modération de certaines fonctionnalités en cas d'abus (signalement abusif de postes)</span>
				</li>
				<li class="text-success"><span class="text-white">Mise en place du système de relations. Possibilité d'ajouter un ami dans sa liste de contacts proches </span>
				</li>
				<li class="text-warning"><span class="text-white">Corrections de bugs sur les listes de contacts proches
				</span></li>
			</ul>
		</div>
	</div>

	<div class="card m-1 mb-2">
		<div class="card-header"><i class="fa-solid fa-newspaper"></i>
			MISE À JOUR DU 18/03/2023 ({{ date_relative('2023/03/18') }}):
		</div>
		<div class="card-header addition_card"><i class="fa-solid fa-square-plus"></i>
			Addition
		</div>
		<div class="card-body">
			<ul>
				<li class="text-success"><span class="text-white">Mise en place de la F.A.Q.</span></li>
			</ul>
		</div>
	</div>

	<div class="card m-1 mb-2">
		<div class="card-header"><i class="fa-solid fa-newspaper"></i>
			MISE À JOUR DU 17/03/2023 ({{ date_relative('2023/03/17') }}):
		</div>
		<div class="card-header addition_card"><i class="fa-solid fa-square-plus"></i>
			Additions
		</div>
		<div class="card-body">
			<ul>
				<li class="text-success"><span class="text-white">Ajout du nombre de places restantes dans chaque cluster</span>
				</li>
				<li class="text-success"><span class="text-white">Ajout de la possibilité de rajouter plusieurs amis en même temps</span>
				</li>
			</ul>
		</div>
		<div class="card-header modification_card"><i class="fa-solid fa-circle-exclamation"></i>
			Modifications
		</div>
		<div class="card-body">
			<ul>
				<li class="text-warning"><span class="text-white">Correction de l'affichage des clusters</span></li>
				<li class="text-warning">
					<span class="text-white">Correction d'un bug lors du chargement d'un profil </span></li>
			</ul>
		</div>
	</div>

	<div class="card m-1 mb-2">
		<div class="card-header"><i class="fa-solid fa-newspaper"></i>
			MISE À JOUR DU 16/03/2023 ({{ date_relative('2023/03/16') }}): Ouverture de la bêta publique !
		</div>
		<div class="card-header addition_card"><i class="fa-solid fa-square-plus"></i>
			Addition
		</div>
		<div class="card-body">
			<ul>
				<li class="text-success"><span class="text-white">Ajout d'un nouvel onglet pour accéder à l'intra depuis le profil visité.</span>
				</li>
			</ul>
		</div>
		<div class="card-header modification_card"><i class="fa-solid fa-circle-exclamation"></i>
			Modifications
		</div>
		<div class="card-body">
			<ul>
				<li class="text-warning"><span class="text-white">Modifications visuelles de la navbar</span></li>
				<li class="text-warning"><span class="text-white">Modifications de la page "Profil"</span></li>
			</ul>
		</div>
	</div>

{% endblock %}
