{% extends 'template.html' %}
{% block css %}
	<link href="/static/css/friends.css?v={{ version }}" rel="stylesheet">
	<link href="/static/css/index.css?v={{ version }}" rel="stylesheet">
	<style>
		@media (max-width: 800px) {
			.btn-width {
				width: 100%;
			}
		}

		.btn-width {
			overflow-x: auto;
		}

		.range-no-color {
			min-width: 0 !important;
		}

		.btn-check:checked+.btn-outline-warning > .text-muted {
			color: black!important;
		}
	</style>
{% endblock %}
{% block content %}
	{% include 'open_modal.html' %}
	<div class="modal fade" id="issueModal" tabindex="-1" aria-labelledby="issueModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h1 class="modal-title fs-5" id="issueModalLabel">Signalement dumps</h1>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close report"></button>
				</div>
				<div class="modal-body">
					Le dump <span id="dumpIdIssueModal"></span> ne fonctionne pas comme prévu ? Signalez le problème
					pour avertir que la place n'est pas
					libre
					<div class="form-check" id="issueForm">
						<input class="form-check-input" type="radio" data-id="1" name="issueRadios" id="issueRadios1">
						<label class="form-check-label" for="issueRadios1">
							Le dump est inutilisable
						</label>
					</div>
					<div class="form-check">
						<input class="form-check-input" type="radio" data-id="2" name="issueRadios" id="issueRadios2">
						<label class="form-check-label" for="issueRadios2">
							Le dump fonctionne, mais l'écran ou le clavier est dégradé
						</label>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
					<button type="button" class="btn btn-primary" id="submitIssue">Valider</button>
				</div>
			</div>
		</div>
	</div>

	<div class="text-center">
		<div class="btn-group mb-1 btn-width" role="group" aria-label="Change cluster">
			{% for cluster in clusters %}
				<input type="radio" class="btn-check cluster_radios" name="btn-radio"
				       data-cluster="{{ cluster.name }}" id="radio{{ cluster.name }}"
				       autocomplete="off" {{ "checked" if actual_cluster == cluster['name'] else "" }}>
				<label title="{{ int(cluster.users / (cluster.maximum_places - cluster.dead_pc) * 100) }}%" class="btn btn-outline-{{ place_to_btn(cluster) }} m-t" for="radio{{ cluster.name }}">
			{{ ('<i class="fa-solid fa-person-swimming text-info"></i>' if cluster.name in piscine else '') | safe }}{{ (' ' if cluster.name in piscine and cluster.name in silent else '') | safe }}{{ ('<i class="fa-solid fa-volume-xmark text-info"></i> ' if cluster.name in silent else '') | safe }}{{ cluster.name }}
					<span class="text-muted">{{ cluster.users }}/{{ cluster.maximum_places - cluster.dead_pc }}</span></label>
			{%- endfor -%}
		</div>
	</div>
	<div class="container-fluid mt-2 scroll p-0">
		<table class="grid text-center">
			<tbody>
			{% for index, x in enumerate(map[1:], 0) %}
				<tr>
					{%- set countB = namespace(value=1) -%}
					<td class="range">{{ map[0][index] }}</td>
					{%- for y in x -%}
						{%- if y == 'x' -%}
							<td class="range">&nbsp;</td>
						{%- elif y == '|' -%}
							<td class="range-no-color"></td>
						{%- elif y == 'h' -%}
							<td></td>
						{%- elif y == 'd' -%}
							<td><i class="fa-solid fa-person-walking fa-2xl"></i></td>
						{%- elif exrypz(y) == False -%}
							<td class="small-colors"></td>
						{%- else -%}
							{%- set img = '<i class="fa-solid fa-user"></i>' if y not in locations else '<img loading="lazy" class="profile-pic2" alt="" src="' + proxy_images(locations[y]['user']['image']['versions']['small']) + '">' -%}
							{%- set relation = '' -%}
							{%- if focus and focus == y %}
								{%- set relation = 'focus' -%}
							{%- elif y in locations and locations[y]['me'] -%}
								{%- set relation = 'me' -%}
							{%- elif y in locations and locations[y]['close_friend'] -%}
								{%- set relation = 'close_friend' -%}
							{%- elif y in locations and locations[y]['friend'] -%}
								{%- set relation = 'friend' -%}
							{%- elif y in issues_map and issues_map[y]['count'] >= 1 and issues_map[y]['issue'] == 1 -%}
								{%- set relation = 'dead' -%}
							{%- elif y in issues_map and issues_map[y]['count'] >= 1 and issues_map[y]['issue'] == 2 -%}
								{%- set relation = 'attention' -%}
							{%- elif y in locations and locations[y]['pool'] and actual_cluster not in piscine -%}
								{%- set relation = 'pooled' -%}
							{%- endif -%}
							{%- if countB.value % 2 == 0 -%}
								<td data-pos="{{ y }}"
								    data-login="{{ locations[y]['user']['login'] if y in locations else '' }}"
								    class="sm-t case {{ relation }}">{{ img|safe }}<br>{{ y.replace(actual_cluster, '') }}
								</td>
							{%- else -%}
								<td data-pos="{{ y }}"
								    data-login="{{ locations[y]['user']['login'] if y in locations else '' }}"
								    class="sm-t case {{ relation }}">{{ y.replace(actual_cluster, '') }}<br>{{ img|safe }}
								</td>
							{%- endif -%}
						{%- endif -%}
						{%- set countB.value = countB.value + 1 -%}
					{%- endfor -%}
					<td class="range">{{ map[0][index] }}</td>
				</tr>
			{%- endfor -%}
			</tbody>
		</table>
		<div id="tooltip" hidden class="rounded bg-white zindex9999">
			<img class="profile-pic rounded no-shadow" alt="pp">
			<div class="fluid-container text-center text-black name">name</div>
		</div>
	</div>

	<script src="/static/js/popper.min.js?v={{ version }}" defer></script>
{% endblock %}

{% block scripts %}
	<script>
		let tooltip = document.getElementById('tooltip')
		let cases = document.querySelectorAll('.case');
		cases.forEach(e => {
			e.addEventListener('click', () => {
				let login = e.dataset.login
				let dump = e.dataset.pos
				if (login.length === 0) {
					const modal = new bootstrap.Modal('#issueModal', {});
					document.getElementById('submitIssue').onclick = async function () {
						let checked = document.querySelector('input[name="issueRadios"]:checked');
						if (!checked) {
							document.getElementById('issueRadios2').focus()
							return;
						}
						let resp = checked.dataset.id;
						fetch(`/addissue/${dump}/${resp}`).then(resp => {
							if (resp.status === 200) {
								triggerToast('Merci de votre signalement ! :)', true, false);
								modal.hide();
							} else {
								triggerToast("Une erreur s'est produite lors du signalement", false, false);
							}
						})
					}
					document.getElementById('dumpIdIssueModal').innerText = dump;
					modal.show();
					return;
				}
				openFriend(login, true)
			})

			if (!e.dataset.login)
				return;
			e.addEventListener('mouseover', () => {
				if (window.isTouchDevice && isTouchDevice()) return;
				if (!window.Popper) return;
				tooltip.hidden = false;
				tooltip.querySelector('img').src = e.querySelector('img').src
				tooltip.querySelector('.name').innerText = e.dataset.login
				Popper.createPopper(e, tooltip, {
					placement: 'right'
				})
			})

			e.addEventListener('mouseleave', () => {
				tooltip.hidden = true;
			});
		});

		// Change cluster buttons
		let radio_clusters = document.querySelectorAll('.cluster_radios')
		radio_clusters.forEach(e => {
			e.addEventListener('click', () => {
				let cluster = e.dataset.cluster
				location.href = "/?cluster=" + cluster
			})
		})
	</script>
{% endblock %}
